:root {
    --header: 60px;
}

/* DEFAULT */
body {
    margin: 0;
    padding: 0;
}

/* NAVEGACION */

.logo-header {
    align-self: stretch;
    padding-inline: 16px;
}

header {
    height: var(--header);
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.header-fixed {
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 2;
}

nav ul {
    gap: 20px;
}

.container-fluid {
    background-color: white;
}

.items-desktop {
    display: block;
}

.navbar-toggler,
.offcanvas {
    display: none !important;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    font-size: 20px;
    color: black;
    font-family: Roboto, sans-serif;
    white-space: nowrap;
    text-decoration: none;
}

a {
    text-decoration: none;
}

@media (max-width:900px) {
    .items-desktop {
        display: none !important;
    }

    .navbar-toggler,
    .offcanvas {
        display: block !important;
    }
}


/* CONTENIDO PRINCIPAL */

body {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}

main {
    width: 100%;
    /* 100% - footer - header */
    min-height: calc(100vh - 320px);
}

@media (max-width:769px) {}

/* HOME - CONTENIDO */
.banner {
    width: 100%;
}


.btn-primary {
    color: white;
    display: block;
    font-size: 24px;
    border-radius: 8px;
    border: 3px solid;
    width: 100%;
    max-width: 200px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-color: white;

}

.btn-primary:hover {
    background-color: white;
    color: black;
    font-size: 25px;
}

.wrap-image {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/Enmascarar\ grupo\ 82.png)
}

.wrap-texto {
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    font-family: Roboto, sans-serif;
}

.wrap-texto h1 {
    font-size: 70px;
    font-weight: 700;
    max-width: 950px;
    color: white;
    align-items: center;
    padding: 1px;
}

.wrap-texto p {
    font-size: 32px;
    font-weight: 400;
    max-width: 950px;
    color: white;
    align-items: center;
}

.conteiner {
    max-width: 1200px;
    margin-top: 0 auto;
}

/* HOME RESPONSIVE */
@media (max-width: 376px) {
    .wrap-texto h1 {
        font-size: 32px;
    }

    .wrap-texto p {
        font-size: 18px;
    }

    .btn-primary {
        font-size: 16px;

    }
}

/* SERVICIOS - CONTENIDO */
.servicios-text {
    align-items: center;
}

.servicios-text h1 {
    font-size: 55px;
    color: black;
    max-width: 800px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-block-end: 0;
}

.servicios-text p {
    font-size: 32px;
    color: black;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 300;
    max-width: 900px;
    margin-block-start: 0;
}

.container_card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-service {
    width: 100%;
    max-width: 325px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card-service:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card-service img {
    width: 100%;
    height: 210px;
}

.card-service .contenido {
    padding: 15px;
    text-align: center;

}

.card-service .contenido p {
    line-height: 1.5;
    color: #6a6a6a;
}

.card-service .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 26px;
}



/* QUIENES SOMOS - CONTENIDO */

.quienes-somos-text {
    align-items: center;
}

.quienes-somos-text h1 {
    font-size: 55px;
    color: black;
    max-width: 800px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-block-end: 0;
}

.quienes-somos-text p {
    font-size: 32px;
    color: black;
    font-family: Roboto, sans-serif;
    text-align: center;
    font-weight: 300;
    max-width: 900px;
    margin-block-start: 0;
}


/* TRABAJOS - CONTENIDO */

.trabajos-text {
    align-items: center;
}

.trabajos-text h1 {
    font-size: 55px;
    color: black;
    max-width: 800px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 16px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 450px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.19);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #333697;
    width: 100%;
    height: 0;
    transition: .5s ease;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.overlay h2 {
    white-space: nowrap;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.overlay h3 {
    white-space: nowrap;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    transform: translate(-50%, -80%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}


/* CLIENTES - CONTENIDO */

.clientes-text {
    align-items: center;
}

.card-body p::before {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, .1);
    padding: 30px;
    position: relative;
    padding-bottom: 110px !important;
    z-index: 50;
}

.card-img.avatar {
    width: 100%;
    height: 300px;
}

.clientes-text h1 {
    font-size: 55px;
    color: black;
    max-width: 800px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    margin-block: 32px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.full-boxer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.comment-box {
    width: 500px;
    background: white;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, .3);
}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 70px;
    height: 70px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, .3);
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* CONTACTO - CONTENIDO*/

.height-auto {
    min-height: auto;
}


.form {
    width: 340px;
    height: 440px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 40px -20px #000;
    margin: calc(20vw - 220px) auto;
    padding: 20px 30px;
    max-width: calc(20vw -40px);
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    position: relative;
}

.titulo {
    width: 180px;
    color: black;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: Roboto, sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey;
}

input:focus {
    border-bottom: 2px solid lightblue;
}

p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: gray;
}

button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: Roboto, sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s;
}

button:hover {
    background: gray;
    color: white;
}

/* FOOTER */
.footer {
    background-color: black;
    padding: 25px;
    margin-top: auto;
}

.footer-links {
    padding: 0 15px;
    width: 100%;
}

.footer-links h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
}

.footer-links ul {
    list-style-type: none;
    padding-inline-start: 0;
    font-family: Roboto, sans-serif;
}

.footer-links ul li {
    margin-block: 8px;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.logo-footer {
    justify-content: center;
}

@media (max-width: 768px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo-footer {
        width: 330px;
    }

    footer div .d-flex {
        width: 100% !important;
        justify-content: center;
    }

    .footer-links {
        width: auto;
    }
}



/* CLASSES GENERALES */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.clr-white {
    color: white;
}

.clr-black {
    color: black;
}

.justify-end {
    justify-content: flex-end;
}