body {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  min-width: 375px;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  /* 100% - footer - header */
  min-height: calc(100vh - 320px);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
