@import "./vars.scss";

//NAVEGACIÓN//
header {
  height: $header;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

nav {
  ul {
    gap: $spacing-4;

    li {
      list-style-type: none;

      a {
        font-size: 20px;
        color: black;
        font-family: Roboto, sans-serif;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }

  .container-fluid {
    background-color: white;
  }

  .items-desktop {
    @media (max-width: 900px) {
      display: none !important;
    }
  }

  .navbar-toggler,
  .offcanvas {
    display: none !important;

    @media (max-width: 900px) {
      display: block !important;
    }
  }

  .offcanvas {
    .offcanvas-body {
      .nav-link {
        font-size: 28px;
        color: #333697;
      }
    }
  }
}

a {
  text-decoration: none;
}

//FOOTER//

.footer {
  background-color: black;
  padding: $spacing-4;
  margin-top: auto;

  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      gap: $spacing-6;
      justify-content: space-evenly;
      .d-flex {
        width: 100% !important;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}

.footer-links {
  padding: 0 $spacing-2;
  width: 100%;

  @media (max-width: 768px) {
    width: auto;
  }

  h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: $spacing-1;
    font-family: Roboto, sans-serif;
  }

  ul {
    list-style-type: none;
    padding-inline-start: 0;
    font-family: Roboto, sans-serif;

    li {
      margin-block: $spacing-1;

      .logo-footer {
        justify-content: center;
        @media (max-width: 768px) {
          .logo-footer {
            width: 330px;
          }
        }
      }

      a {
        font-size: 18px;
        text-decoration: none;
        color: white;
        margin-bottom: $spacing-2;
      }
    }
  }
}
